Screen {
    background: $surface;
}

Header {
    height: 3;
}

UVChecker {
    height: auto;
    dock: top;
    background: $panel;
    padding: 1;
    text-align: center;
}

TabbedContent {
    height: 1fr;
    padding: 0;
}

TabPane {
    padding: 0;
    height: 100%;
}

ContentSwitcher {
    height: 100%;
}

StatusBar {
    height: 1;
    dock: bottom;
    background: $primary-darken-2;
    color: $text;
    padding: 0 1;
}

Footer {
    height: 1;
}